extend layout
block content
  article
    header Londoner
    section
      h1
        span Yo: 
        | just testing
      p
        a(href='#') Londoner
        |  is a #TODO
      h2.hero-title Hi!
      div(class='row features')
        div.home_panel(style='display:none')
          | Hi! I am the login panel!
          | You need to authenticate with Google to access all the features
          div#authenticationPanel
        div.profile_panel(style='display:none')
          | Hi! I am the profile panel!
        div.data_panel(style='display:none')
          | Hi! I am the data panel!
          div#chart