!!!5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(http-equiv='viewport', content='width=device-width')
    title #{title} - Londoner
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Homenaje')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    nav
      header
        a(href='#')
          img(src='./images/logo.png')
          p Londoner
      ul
        li(class='nav-divider')
          a(href='#')
            img(src='./images/icon-home.png')
            | Home
        li
          a(href='#')
            img(src='./images/icon-why.png')
            | What is Londoner
        li
          a(href='#')
            img(src='./images/icon-getting-started.png')
            | Getting Started
        li
          img(src='./images/icon-documentation.png')
          | Documentation
        li(class='nav-sub')
          a(href='#') Command Line
        li(class='nav-sub')
          a(href='#') Manager
        li(class='nav-sub')
          a(href='#') Test
        li(class='nav-sub nav-divider')
          a(href='#') Insight
        li
          a(href='https://github.com/francescozaia')
            img(src='./images/icon-github.png')
            | Github
    div#content
      article
        header Londoner
        section
          h1
            span Yo: 
            | just testing
          p
            a(href='#') Londoner
            |  is a #TODO
          h2.hero-title Hi!
          div(class='row features')
            div.home_panel(style='display:none')
              | Hi! I am the login panel!
              | You need to authenticate with Google to access all the features
              div#authenticationPanel
            div.profile_panel(style='display:none')
              | Hi! I am the profile panel!
            div.data_panel(style='display:none')
              | Hi! I am the data panel!
              div#boxWidget.widget
              div#chartWidget.widget
              div#tableWidget.widget
              div#pieWidget.widget

    //- scripts
    script(src='http://documentcloud.github.com/underscore/underscore-min.js')
    script(src='https://raw.github.com/visionmedia/jade/master/runtime.min.js')
    script(src='//code.jquery.com/jquery-1.9.0.min.js')
    script(src='./js/jquery.colorpicker.js')
    script(src='./js/utils.js')

    //- analytics
    script(src='./js/analytics/analytics.dom.js')
    script(src='./js/analytics/analytics.stats.js')
    script(src='./js/analytics/analytics.oauth.js')
    script
      function initAnalytics() {
        analytics_oauth.initialize();
      }
    script(src='https://apis.google.com/js/client.js?onload=initAnalytics')

    //- D3
    script(src='./js/d3/lib/d3.min.js')

    script(src='./js/d3/d3.customChart.js')
    script(src='./js/init.js')

    script(type='text/template', id='widget1')
      | Login
      h1#test pippo

    script
      init.go();
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38331006-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();